@import "tailwindcss";
@import "../styles/tokens.css";

body {
  background: var(--color-background-default);
  color: var(--color-text-default);
  font-family: var(--font-family);
  letter-spacing: var(--font-letter-spacing);
}
